.gallery {
  width: 100%;
  & .slide_container {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    box-shadow: rgba(56, 56, 61, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    & .slide_gallery {
      position: relative;
      width: 100%;
      height: 300px;
      // border: 1px solid red;
      & .prev,
      & .next {
        position: absolute;
        top: 50%;
        font-size: 1rem;
        color: rgb(109, 109, 109);
      }
      & .prev {
        left: 15px;
      }
      & .next {
        right: 15px;
      }
      & img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .images_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 50px 0;
    & .all_images {
      box-shadow: rgba(56, 56, 61, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      cursor: pointer;
      & img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        object-fit: fill;
      }
    }
  }
}

// Slide
.active {
  display: none;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}

@media (min-width: 767px) {
  .gallery {
    & .slide_container {
      height: 400px;
      & .slide_gallery {
        height: 400px;
        & .prev,
        & .next {
          font-size: 1.4rem;
        }
        & .prev {
          left: 20px;
        }
        & .next {
          right: 20px;
        }
      }
    }

    .images_container {
      & .all_images {
        & img {
          width: 180px;
          height: 180px;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .gallery {
    & .slide_container {
      max-width: 1000px;
      height: 500px;
      & .slide_gallery {
        height: 500px;
        & .prev,
        & .next {
          font-size: 1.6rem;
        }
        & .prev {
          left: 25px;
        }
        & .next {
          right: 25px;
        }
      }
    }
    .images_container {
      padding: 10px;
      & .all_images {
        & img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
