@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");

.accordion {
  font-family: "Fuzzy Bubbles", cursive;
  width: 100%;
  display: flex;
  justify-content: center;
  & .accordion_class {
    width: 250px;
    display: flex;
    flex-direction: column;
    & .accordion-item {
      border-radius: 15px 10px 0px 0px !important;
      margin-bottom: 3px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      & .accordion-button {
        height: 40px;
        background: rgba(235, 193, 231, 0.685);
        background: linear-gradient(
          0deg,
          rgba(235, 193, 231, 0.685) 0%,
          rgba(179, 223, 218, 0.644) 63%
        );
        border-radius: 15px 10px 0px 0px !important;
        font-size: 1.2rem;
        padding-left: 30%;
      }
    }
  }
}

@media (min-width: 767px) {
  .accordion {
    & .accordion_class {
      width: 300px;
    }
  }
}

@media (min-width: 1025px) {
}
